.btn {
  max-width: 320px;
  width: 100%;
}

.container {
  max-width: 370px;
  padding: 0 16px;
  margin: 0px auto 0 auto;
}

.title {
  text-align: center;
}

.subtitle {
  margin-top: 8px;
}

.cube {
  width: 180px;
  height: 180px;
  margin: 60px auto 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgba(66, 22, 93, 1);
  border-radius: 5px;
}
.disabled {
  opacity: 0.3;
}
.options {
  margin-top: 60px;
}

.start {
  width: 100%;
  margin-top: 16px;
}
