.btn {
  max-width: 320px;
  width: 100%;
}

.container {
  max-width: 338px;
  margin: 0px auto 0 auto;
}

.title {
  text-align: center;
}

.cubic {
  width: 130px;
  height: 130px;
  background-color: rgb(135, 13, 163);
  margin: 60px auto 0 auto;
}

.options {
  margin-top: 60px;
}

.start {
  width: 100%;
  margin-top: 16px;
}
