*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter';
  color: white;
  background: linear-gradient(
    268.59deg,
    #0c0b1e 0.91%,
    #2a0f3b 51.75%,
    #0c0b1e 98.52%
  );
}

html,
body {
  height: 100%;
}
