$violet: #8151a8;
$violet-dark: #643f82;
$yellow: #f6a200;
$green: #41ca00;
$green-dark: #37ac00;
$white: #ffffff;
$gray: #94a3b8;
$gray-light: #cbd5e1;
$black: #000000;

$transition: all 0.3s ease-out;
