@import '@/styles/variables.scss';

.button {
  padding: 10px 16px;
  border: none;
  cursor: pointer;
  transition: $transition;
  color: $white;
  display: inline-flex;
  justify-content: center;
  gap: 16px;
  line-height: 24px;
  font-size: 16px;
  border-bottom: 1px solid;
  border-radius: 5px;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.3;
  }
}

.with_icon {
  justify-content: space-between;
}

.violet {
  background-color: $violet;
  border-color: $violet;

  &:hover,
  &:disabled {
    background-color: $violet-dark;
  }
}

.green {
  background-color: $green;
  border-color: $green;
  &:hover,
  &:disabled {
    background-color: $green-dark;
  }
}

.active {
  background-color: $yellow;
  border-color: $yellow;

  &:hover,
  &:disabled {
    background-color: $yellow-dark;
  }
}

.loader {
  height: 24px;
  width: 24px;
  border-radius: 100%;
  border-right: 1px solid $white;
  border-top: 1px solid $white;
  animation: loading 300ms linear infinite;
}

@keyframes loading {
  0% {
    rotate: 0deg;
  }

  100% {
    rotate: 360deg;
  }
}
